<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
{load href="__STATIC__/wangEditor/js/wangEditor.min.js" /}
<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>

<script>
    $(function(){

        // 初始化富文本编辑
        var _public_content = $('#public_content');
        if(_public_content.attr('id') != undefined)
        {
            // 发布文章初始化富文本插件
            var editor = new wangEditor('public_content');
            editor.create();
        }


        // 用户注册提交
        $('.reg_btn').click(function(){

            $.ajax({
                type: 'post',
                url: "{:url('index/user/add')}",
                data: $(".reg_form").serialize(),
                success: function(data) {
                    if(data.status)
                    {
                        $('.err_tips').html(data.msg);
                        setTimeout(function(){
                            window.location.href = "{:url('index/user/login')}";
                        },1000);
                    }
                    else
                    {
                        $('.err_tips').html(data.msg);
                    }
                }
            });
        });

        // 用户登录
        $('.login_btn').click(function(){

            $.ajax({
                type: 'post',
                url: "{:url('index/user/doLogin')}",
                data: $(".login_form").serialize(),
                success: function(data) {
                    console.log(data);
                    if(data.status)
                    {
                        $('.err_tips').html(data.msg);
                        setTimeout(function(){
                            window.location.href = "{:url('index/user/index')}";
                        },1000);
                    }
                    else
                    {
                        $('.err_tips').html(data.msg);
                    }
                }
            });
        })

        // 用户文章收藏
        $('.fav_btn').click(function(){

            var _uid = $(this).attr('uid');
            var _document_id = $(this).attr('document_id');

            var _self = $(this);

            // 用户登录的情况下进行收藏/取消收藏的操作
            if(_uid && _document_id)
            {
                $.post(
                    "{:url('index/index/fav')}",
                    {
                        uid:_uid,
                        document_id:_document_id,
                        time:new Date().getTime()
                    },
                    function(msg){
                        if(msg.status)
                        {
                            if(msg.type == 1)
                            {
                                _self.text('已收藏');
                                _self.attr('class' , 'btn btn-info fav_btn');
                            }
                            else
                            {
                                _self.text('收藏');
                                _self.attr('class' , 'btn btn-default fav_btn');
                            }


                        }
                        else
                        {
                            alert(msg.msg);
                        }

                    });
            }
        })

        // 发表评论
        $('.submit_comment').click(function(){
            $.ajax({
                type: 'post',
                url: "{:url('index/index/add_comment')}",
                data: $(".comment_form").serialize(),
                success: function(data) {
                    if(data.status)
                    {
                        $('.err_tips').html(data.msg);
                    }
                    else
                    {
                        $('.err_tips').html(data.msg);
                    }
                }
            });
        })
    })
</script>
</body>
</html>